
//這個是取消全部樣式的css
@import "./reset";
//這個是bubble_btn的css，記得html要引用bubble_btn動畫效果的js & TweenMax
@import "./bubblebtn";

//----------------以上不要動！！，以下開放自己的sass，按照自己的區塊放(可自己更動區塊名字)-------------------------
@import "./var";
%ex20px {
  padding: 20px 0;
}

.ex20px{
  @extend %ex20px;
}

article{
  @include pad{
    max-width: 100%;
  }
}

body{
  cursor: default;
  // color:#eeebeb;
}


.handmake_section{
    display: flex;
    justify-content: center;
    @include pad{
      flex-direction: column;
}
}

.handmake_left{
  background-size: contain;
  font-weight: bold;
  background-color: #2f4f4f;
  border-radius: 10px;
  color:#fff ;
  @include pad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  h1{
    text-align: left;
    margin:10px 0 10px 50px;
    @include pad{
      margin: 0 auto;
      text-align: center;
    }
  }
     .handmake_left_class{
      display: flex;
      flex-direction: column;
      .handmake_left_class_btn{
        @include pad{
          flex-direction: column;
        }
      }
      
        button {
          width: 70%;
          background-color:transparent;
          border-radius: 5px;
          margin: 5px auto;
          color: #fff;
          border: 1.5px solid #fff;
          padding: 5px;
          font-weight: bold;
          cursor: pointer; 
          @include pad{
            width: 100px;
            margin: 5px;
          }
          
        }
        button:hover{
          background-color:#fff ;
          color:#2f4f4f ;
        }
    }

    .fa-calendar-alt{
      margin-left:10px;
      cursor:pointer;
    }

    .HM_Date{
      h1{
        
        @include pad{
          margin: 0 auto;
        }
      }
      @include pad{
        margin: 0 auto;

      }
      .HM_Date_select{
        @include pad{
          margin-top: 5px;
        }
        .custom_select{
          width: auto;
          padding: 2% 15%;
          border-radius: 5px;
          @include pad{
            width: 100%;
            padding:5px 5px;
            
          }
          option{
            text-align: center;
          }
        }
  
      }
    }

    
    

    .HM_Number{
      h1{
        @include pad{
          text-align: center;
        }
      }
      .HM_choseNumber{
        // @include pad{
        //   display: flex;
        //   flex-direction: column;
        // }
        .number_people{
          width: 20%;
          text-align: center;          
          border-radius: 5px;          
        }
        .fa-minus{
          margin:0 10px;
          cursor:pointer;
        }
        .fa-plus{
          margin:0 10px;
          cursor:pointer;
        }
      }
        
    }

    .handmake_left_text{
      @include pad{
        display: none;
      }
      span{
        color: #d9a420;
      }
      h1:nth-child(2){
        color:#d9a420;
      }
    }

    .SignUp{
      margin: 20px;
      @include pad{
        display: none;
      }
    }

}

.handmake_right{
  margin-left: 10px;
  color: #2f4f4f;
  
  h1{
    font-weight: bold;
    margin: 10px;
  }
  p{
  }
  img{
    display: block;
    width: 400px;  
    margin: 0 auto;
  }

  .handmake_right_main{
    padding-left: 50px;
    text-align: left;

    p{
      margin:10px 40px;
    text-align: left;

    }
    p:nth-child(2){
      font-weight: bold;
    }
    p:before{
      content: '';
      display: block;
      width: 4px;
      height: 30px;
      background-color:#d9a420 ;
      float: left;
      margin-right: 10px;
    }
    li{
      margin:10px 30px
    }
  }
  .notice_main{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
  }

  .handmake_left_text_RWD{
    display: none;

  }
  .SignUp_RWD{
    display: none;
    @include pad{
      display: block;

    }
  }
    
}





