

  //部落格
  
  //購物車＆結帳系統

  //會員中心 & 會員登入
  article{
    width: 100%;
  }
  body{
    width: 100%;
  }
  .memberarticle{
    display: flex;
    padding-left: 50px;
    width: 100%;
  }
  // 個人資料
  .membergreen .btn_green a{
    margin: 20px 0;
    border: map-get($color, "main_g") solid 3px;
    background-color: map-get($color, "gray");
    color: map-get($color, "main_g");
  }
  .member{
    @include memberin;
  }
  .member h1{
    @include memberh1;
  }
  .memberPeopleAvatars{
    max-width: 400px;
    display: flex; 
    align-items:flex-start;
    margin: 20px auto;
  }
  .memberPeopleAvatarsimg{
    margin-top: 20px;
    position: relative; 
  }
  .memberPeopleAvatarsimg i{
    z-index: 2;
   position: absolute;
   top: 80px;
   right: 5px;
   width: 20px;
   height: 20px;
   cursor: pointer;
  }
  .memberPeopleAvatarsimg i input{
    z-index: -1;
  width: 15px;  
  height: 15px;
  position: relative;
  bottom: 15px;
  }
  .PeopleAvatars{
    width: 100px;
    height: 100px;
    display: block;
  }
  .member ul{
    text-align: left;
    width: 300px;
    margin-left: 20px;
  }
  .member ul li{
    margin: 10px 0;
  }
  .member .bubble_btnn{
    margin: 30px 0;
  }
  // 所有訂單
  .OrderTracking{
    @include memberin;
  }
  .OrderTracking h1{
    @include memberh1;
  }
  .OrderTracking table{
    border: map-get($color, "gray") solid 2px;
    margin: 20px auto;
    width: 80%;
  }
  .OrderTracking .OrderTrackingtitle{
    background-color: map-get($color, "gray");
  }
  .OrderTracking .OrderTrackingChild{
    border-bottom: map-get($color, "gray") dashed 2px;
  }
  .OrderTracking td{
    line-height: 3;
  }
  .OrderTracking .OrderTrackingcol{
    text-align: left;
    padding: 0 10px;
  }
  .OrderTracking td img{
    max-width: 50px;
    margin-top: 10px;
  }
  .OrderTracking i{
    cursor: pointer;
  }
  .OrderTracking h2{
    text-align: left;
    line-height: 1;
  }
  .OrderTracking h3{
    text-align: left;
  }
  .OrderTracking ul li{
    text-decoration: none;
    text-align: left;
    color: rgb(145, 143, 143);
    font-size: 10px;
    max-width: 150px;
    margin-left: 10px;
  }
  // 我的收藏清單
  .MyCollection{
    @include memberin;
  }
  .MyCollection h1{
    @include memberh1;
  }
  .MyCollectionPage{
    display: flex;
    flex-wrap: wrap;
  }
  .MyCollectionLove{
    border: map-get($color, "gray") solid 1px;
    margin: 30px auto;
  }
  .MyCollectionLoveimg{
    margin: 10px 10px;
  }
  .MyCollectionLovegreen{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 190px;
  }
  .MyCollectionLovegreeni{
    border: solid map-get($color, "gray") 2px;
    border-radius: 5px;
    width: 40px;
    cursor: pointer;
  }
  .MyCollectionLovegreen i{
    width: 30px;
    margin: 12px auto;
  }
  .MyCollectionLovegreen .btn_green{
    max-width: 140px; 
    margin-left: 10px;
  }
  .MyCollectionLovegreen .btn_green a{
    max-width: 140px;
    line-height: 10px;
   
  }
  // 我有問題
  .Ihaveaquestion{
    width: 100%;
    margin: 0 20px;
  }
  .Ihaveaquestionadd{
    @include memberin;
    min-height: 100px;
    max-width: 870px;
  }
  .IhaveaquestionaddQuestion{
    border-bottom: map-get($color, "green") solid 3px;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
  }
  .IhaveaquestionaddQuestionimg{
    border: solid red 3px;
    width: 70px;
    height: 65px;
    border-radius: 50%;
    margin: 0 5px;
  }
  .IhaveaquestionaddQuestion h2{
    margin: 0 auto;
  }
  .Ihaveaquestionadd h3{
    text-align: right;
    max-width: 800px;
  }
  .Ihaveaquestionenter{
    margin: 20px 20px;
    height: 60px;
    display: flex;
  }
  .Ihaveaquestion input{
    width: 80%;
    background-color: map-get($color, "gray");
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    height: 60px;
  }
  .Ihaveaquestionenter .bubble_btnn{
    margin-top: 10px;
  }
  .Ihaveaquestion .bubble_btnn a{
    max-width: 200px;
  }
  .IhaveaquestionaddQuestionadd{
    display: flex;
    max-width: 800px;
    margin: 20px auto;
  }
  .IhaveaquestionaddQuestionaddbg{
    margin: 0 10px;
    width: 100%;
    background-color: map-get($color, "gray");
    border-radius: 5px;
  }
  .IhaveaquestionaddQuestionadd h2{
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }
  .IhaveaquestionaddQuestionadd h3{
    margin-right: 10px;
  }
  // 3333
 
  .OrderTracking{
    display: none;
  }
  .MyCollection{
    display: none;
  }
  .Ihaveaquestion{
    display: none;
  }

  //RWD

    @media (max-width: 990px) {
    }
  
    @media (max-width: 768px) {
      .memberarticle{
        display: block;
        font-size: 0.1em;
      }
      .memberarticle .bubble_btnn a{
        max-width: 70px;
        line-height: 2;
        font-size: 0.1em;
      }
      .membergreen .btn_green{
        display: flex;
      }
      .member{
        margin-left: -5px;
      }
      .memberPeopleAvatars{
        display: block;
        width: 100%;
      }
      .memberPeopleAvatars .memberPeopleAvatarsimg img{
        margin: 0 auto;
      }
      .memberPeopleAvatars .memberPeopleAvatarsimg i{
        width: 100%;
        position: absolute;
        left: 37px;
        bottom: 4px;
      }
      .memberPeopleAvatarsimg i input{
        width: 10px;
        height: 10px;
        position: relative;
        top: 8px;
        right: 14px;
      }
      .memberPeopleAvatars ul{
        margin: 20px auto;
        max-width: 220px;
      }
      .OrderTracking{
        margin-left: -5px;
      }
      .OrderTracking td{
        line-height: 1;
      }
      .MyCollection{
        margin-left: -5px;
      }
      .MyCollection .btn_green{
        width: 100%;
      }
      .MyCollection .btn_green a{
        max-width: 80px;
        margin-right: 0.1px;
      }
      .Ihaveaquestion{
        margin-left: -20px;
      }
    }
  
    @media (max-width: 414px) {
    }