

  //部落格

  //購物車＆結帳系統

  //會員中心 & 會員登入
  article{
    border: red 2px solid;
  }
  @mixin memberpage {
    margin-left: 270px;
    margin-top: -296px;
    border-radius: 20px;
    background-color: map-get($color, "white");
    padding-bottom: 50px;
  }
  @mixin memberpageh1 {
    background-color: map-get($color, "main_g");
    color: map-get($color, "white");
    border-radius: 25px;
    border-color: map-get($color, "main_g");
    border-style: solid;
    border-width: 2px;
    padding: 15px 0;
  }
  // 個人資料
  .btn_green{
    margin-right: 900px;
  }
  .btn_green .MemberDiv{
    background-color: #2f4f4f;
    color: white;
  }
  .btn_green a{
    margin-top: 15px;
    border-style: solid;
    border-color:#2f4f4f; 
    border-width: 2px;
    background-color: #eeebeb;
    color: #2f4f4f;
    &:hover{
      background-color:#2f4f4f;
      color:#eeebeb;
    }
  }
  .member{
    @include memberpage;
  }
  .member h1{
    @include memberpageh1;
  }
  .member .PeopleAvatars{
    width: 150px;
    margin-right: 400px;
    margin-top: 100px;
  }
  .member .photo{
    width: 25px;
    height: 25px;
    margin-right: 310px;
    position: relative;
    bottom: 35px;
    left: 10px;
  }
  .member ul{
    margin-right: 20px;
    margin-top: -190px;
    padding-bottom: 40px;
  }
  .member ul li{
    margin: 0 410px;
  }
  .member ul input{
    background-color: map-get($color, "gray");
    border-style: none;
    height: 30px;
    width: 200px;
    margin-left: 250px;
    position: relative;
    top: -30px;
  }
  .member .ID{
    width: 200px;
    height: 30px;
    margin-left: 455px;
    position: relative;
    top: -30px;
  }
  .member ul .add{
    width: 300px;
    margin-right: -100px;
  }
  // 所有訂單
  .OrderTracking{
    @include memberpage;
    display: none;
  }
  .OrderTracking h1{
    @include memberpageh1;
  }
  .OrderTracking table{
    margin: 50px auto;
    width: 750px;
    border-width: 2px;
    border-style: solid;
    border-color: map-get($color, "gray");
  }
  .OrderTracking table .OrderTrackingtitle{
    background-color: map-get($color, "gray");
  }
  .OrderTracking tr td{
    padding: 10px 0;
  }
  .OrderTracking .OrderTrackingChild{
    border-width: 2px;
    border-bottom-style: dashed;
    border-color: map-get($color, "gray");
  }
  // 我的收藏清單
  .MyCollection{
    @include memberpage;
    display: none;
  }
  .MyCollection h1{
    @include memberpageh1;
  }
  .MyCollection .MyCollectionPage{
    margin: 40px 25px;
    width: 810px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 15px;
  }
  .MyCollection .MyCollectionLove{
    width: 250px;
    height: 370px;
    border: map-get($color, "gray") 2px solid;
    margin-left: 20px;
    margin-top: 30px;
  }
  .MyCollection .MyCollectionLove .MyCollectionLovePhoto{
    width: 200px;
    margin-top: 20px;
  }
  .MyCollection .MyCollectionLove h2{
    width: 200px;
    font-size: 14px;
    margin-left: 15px;
  }
  .MyCollection .MyCollectionLove li{
    list-style: none;
  }
  .MyCollection .MyCollectionTrashcan{
    width: 50px;
    position: relative;
    right: 90px;
    margin: 10px 0;
  }
  .member_btn{
    display: flex;
  }
  .MyCollectionLove a{
    position: relative;
    left: 65px;
    bottom: 67px;
    background-color: #2f4f4f;
    color: white;
    width: 170px;
    padding: 10px 0;
    border-radius: 10px
  }
  // 我有問題
  .Ihaveaquestion{
    @include memberpage;
    display: none;
  }
  .Ihaveaquestion input{
    font-size: 16px;
    background-color: map-get($color, "gray");
    border-style: solid;
    border-color: map-get($color, "gray");
    border-radius: 10px;
    width: 550px;
    height: 57px;
    position: relative;
    right: 110px;
    top: 40px;
    
  }
  .Ihaveaquestion .bubble_btnn{
    position: relative;
    left: 295px;
    bottom: 5px;
  }
  //Q&A