.full_wrapper{
    position: relative;
}
.registered_enter{
    // background-color: map-get($color, "main_g");
    // color: map-get($color, "white");
    width: 60%;
    border-radius: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.registered_enter_bg{
    background-color: map-get($color, "main_g");
    color: map-get($color, "white");
    margin: 100px auto;
    border-radius: 30px;
    padding-bottom: 30px;
    position: relative;
}
.registered_enter_bg_x{
    width: 5%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.registered_enter_bg_logo{
    width: 30%;
    margin-top: 10px;
}
.registered_enter_bg a{
    color: map-get($color, "white");
    font-size: 10px;
}
.registered_enter_text{
    width: 70%;
    margin: 0 auto;
}
.registered_enter_text li{
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: left;
}
.registered_enter_text a{
    width: 70px;
}
.registered_enter_text li input{
    width: 100%;
    font-size: 20px;
}
.registered_enter_bg .bubble_btnn a{
    font-size: 20px;
    width: 100%;
    padding: 10px 20px;
}
.registered_enter_registered{
    margin: 0 auto;
    width: 40px;
}

//RWD

@media (max-width: 768px) {
    .registered_enter_bg li{
        font-size: 15px;
        margin: 5px 0;
    }
    .registered_enter_bg .bubble_btnn a{
        margin-top: 5px;
        font-size: 15px;
    }
  }