$h1:32px;
$h2:22px;
$h3:16px;

$color: (
  // 主色
  "main_g": #2f4f4f,
  "gold": #d0c3a3,
  // Secondary 輔色
  "green1": #6a764e,
  "green2": #979f77,
  "gray": #eeebeb,
  "gray2": #efefef,
  // Accent color 強調色
  "yellow": #d9a420,
  // heart 收藏愛心
  "pink": #d87680,
  "white": #ffffff
);