@import "./sassVar";
@mixin a {
  display: block;
  text-align: center;
  text-decoration: none;
}

@mixin inserBtn() {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: map-get($color, "gold");
  color: map-get($color, "main_g");
  font-size: 15px;
  font-weight: bold;
}

@mixin inserBtnH() {
  &:hover {
    background-color: map-get($color, "yellow");
    color: map-get($color, "main_g");
    text-decoration: none;
  }
}

@mixin h1() {
  font-size: 30px;
  color: #2f4f4f;
  margin-bottom: 5px;
}

@mixin bottom_line($w) {
  width: $w;
  height: 2px;
  background-color: #d9a420;
  margin-bottom: 20px;
}