$h1:32px;
$h2:22px;
$h3:16px;
// $button: (
//   'background-color':#2f4f4f,
//   'border-radius': 5px,      
//   'margin': 5px,
//   'font-size': $h3,
//   'color':#fff,
//   'border': 1px solid #fff,
//   'padding': 5px,
//   'font-weight': bold,
//   'width': 200px,
//   'cursor':pointer,
// );
