@import "./reset";
@import "./sassMix";

body{
  background-image: url(../img/gray_bg.png);
}

header{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #fff;
  font-weight: bold;
    img{
      display: block;
      width: 50px;
      height: 50px;        
      margin-top: 20px;
      margin-left: 2vw;
    }
    h1{
        font-size: 2rem;
        color: #d0c3a3;
        line-height: 100px;
        margin-left: 20px;
    }
    a{
        font-size: 15px;
        font-weight: bold;
        color: #d0c3a3;
        line-height: 100px;
        margin-left: auto;
        margin-right: 50px;
    }
    a:hover{
      color: #d87680;
      text-decoration: none;

    }
}

.wrapper{
  width: 1200px;
  margin:0 auto;
 }
.section_main{
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
.left_list{
  width: 15%;
  .left_btn{
    ul{
        li{
            margin-bottom: 15px;
            a{
                display: block;
                text-align: center;
                width: 150px;
                height: 50px;
                line-height: 50px;
                background-color: #2f4f4f;
                font-size: 20px;
                text-decoration: none;
                border: 1px solid #eeebeb; 
                border-radius: 10px;
                font-weight: bold;
                color: #d0c3a3;
            }
            a:hover{
                color: #2f4f4f;
                background-color: #d0c3a3;
                font-weight: bold;
            }
      }
    }
  }
}
.right_main{
  width: 85%;
 margin-left: 20px;
}


  

// --------------------------客製多肉
.Custom_content{
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }

  .Custom_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center;
        img{
          display: block;
          width: 100px;
        }      
        a{
          @include a();
          :hover{
            color: #d87680;
          }
        }   
       }
     }
   }
  }
}

// --------------------------課程管理
.handClass_inserBtn{
  @include inserBtnH();
  @include inserBtn();
}

.handClass_content{
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }
  .handClass_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center;     
        a{
          @include a();
          :hover{
            color: #d87680;
          }
        }   
       }
     }
   }
  }
}
// --------------------------文章管理
.knowledge_inserBtn{
  @include inserBtnH();
  @include inserBtn();
}
.knowledge_content{
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }
  .knowledge_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center; 
        img{
          display: block;
          width: 100px;
        }     
        a{
          @include a();
          :hover{
            color: #d87680;
          }
        }   
       }
     }
   }
  }
}
// --------------------------文章編輯
.knowledge_inserBtn{
  @include inserBtnH();
  @include inserBtn();
}
.knowledge_content{
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }
  .knowledge_Edittable{
   table{
     font-size: 20px;
     tr{
       td{
        text-align: center; 
        img{
          display: block;
          width: 100px;
        }     
        textarea{
          overflow:visible;
        }
       }
     }
   }
   a{
    @include a();
    :hover{
      color: #d87680;
    }
  }   
  }
}
// --------------------------會員管理
.member_content{
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }

  h2{
    font-size: 20px;
    margin-bottom: 5px;

  }
  .search_text{
    margin-bottom: 10px;
  }
  .member_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center;     
        a{
          @include a();
          :hover{
            color: #d87680;
          }
        }   
       }
     }
   }
  }
}
 
// --------------------------訂單管理
.order_content{
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }
  .order_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center;     
        a{
          @include a();
          :hover{
            color: #d87680;
          }
        }   
       }
     }
   }
  }
}
//-------------------------- 商品管理
.product_inserBtn{
  @include inserBtn();
  @include inserBtnH();

}

.product_content{
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }
  .product_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center; 
        img{
          display: block;
          width: 100px;
        }    
        a{
          @include a();
          :hover{
            color: #d87680;
          }
        }   
       }
     }
   }
  }
}
// --------------------------商品編輯
.product_inserBtn{
  @include inserBtn();
  @include inserBtnH();
  
}

.product_content{
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }
  .product_Edittable{
   table{
     font-size: 20px;
     margin: 0 auto;
     tr{
       td{        
        text-align: left; 
        margin: 10px;

        img{
          display: block;
          width: 100px;
        }    
        textarea{
          overflow:visible;
        }   
       }
     }
   }
   a{
    @include a();
    margin: 10px;
   }
  }
}



// --------------------------訊息管理
.report_content{
  color:#000 ;
    overflow:visible;
    height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }
  .report_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center;     
        a{
          @include a();
          :hover{
            color: #d87680;
          }
        }   
       }
     }
   }
  }
}












