@import "./reset";
@import "./sassMix";
@import "./sassVar";

body{
  background-image: url(../img/gray_bg.png);
  cursor: default;
}

header{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: map-get($color, "white");
  font-weight: bold;
    img{
      display: block;
      width: 50px;
      height: 50px;        
      margin-top: 20px;
      margin-left: 2vw;
    }
    h1{
        font-size: 2rem;
        color: map-get($color, "gold");
        line-height: 100px;
        margin-left: 20px;
    }
    a{
        font-size: 15px;
        font-weight: bold;
        color: map-get($color, "gold");
        line-height: 100px;
        margin-left: auto;
        margin-right: 50px;
    }
    a:hover{
      color: map-get($color, "pink");
      text-decoration: none;

    }
}

.wrapper{
  width: 1200px;
  margin:0 auto;
 }
.section_main{
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
.left_list{
  width: 15%;
  .left_btn{
    ul{
        li{
            margin-bottom: 15px;
            a{
                display: block;
                text-align: center;
                width: 150px;
                height: 50px;
                line-height: 50px;
                background-color: map-get($color, "main_g");
                font-size: 20px;
                text-decoration: none;
                border: 1px solid #eeebeb; 
                border-radius: 10px;
                font-weight: bold;
                color: map-get($color, "gold");
            }
            a:hover{
              background-color: map-get($color, "gold");
              color:map-get($color, "main_g");
              font-weight: bold;
            }
          }
          .a_click{
            background-color: map-get($color, "gold");
            color:map-get($color, "main_g");

          }
    }
  }
}
.right_main{
  width: 85%;
  margin-left: 20px;
  color:#000 ;
  overflow:visible;
  height: auto;
  h1{
    @include h1();
  }
  .bottom_line{
    @include bottom_line(200px);
  }
}


// --------------------------客製多肉
  .Custom_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: left; 
        margin: 10px;
       }
       td{
        text-align: left; 
        margin: 10px;
        img{
          display: block;
          width: 100px;
        }      
        a{
          @include a();
          :hover{
            background-color: map-get($color, "pink");
          }
        }   
       }
     }
   }
  }


// --------------------------課程管理
.handClass_inserBtn{
  @include a();
  @include inserBtnH();
  @include inserBtn();
}
  .handClass_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center; 
        a{
          @include a();
          :hover{
            background-color: map-get($color, "pink");
          }
        }
        .fas{
          cursor: pointer;
          margin-right: 5px;
        }     
       }
     }
   }
  }

// --------------------------課程編輯

  .handClass_Edittable{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: left; 
        margin: 10px;   
        a{
          @include a();
          :hover{
            background-color: map-get($color, "pink");
          }
        } 
       }
     }
   }
   .cancel_check{
      display: flex;
      justify-content: center;
      input{
        @include inserBtn();
        @include inserBtnH();
        margin: 10px;
      }
    }
  }


// --------------------------文章管理
.knowledge_inserBtn{
  @include a();
  @include inserBtnH();
  @include inserBtn();
}

  .knowledge_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: left; 
        margin: 10px;
        img{
          display: block;
          width: 100px;
        }     
        a{
          @include a();
          :hover{
            background-color: map-get($color, "pink");
          }
        }   
       }
     }
   }
  }

// --------------------------文章編輯
.knowledge_inserBtn{
  @include a();
  @include inserBtnH();
  @include inserBtn();
}
  .knowledge_Edittable{
   table{
     font-size: 20px;
     tr{
       td{
        text-align: left; 
        margin: 10px;
        img{
          display: block;
          width: 100px;
        }     
        textarea{
          overflow:visible;
        }
       }
     }
   }
    .cancel_check{
      display: flex;
      justify-content: center;
      input{
        @include inserBtn();
        @include inserBtnH();
        margin: 10px;
      }
    }
  }

// --------------------------會員管理
.search_name{
  h2{
    font-size: 20px;
    margin-bottom: 5px;
  }
  .search_text{
    margin-bottom: 10px;
  }
}  
  .member_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center; 
        // margin: 10px;  
       }
       td{
        text-align: center; 
        // margin: 10px;    
        a{
          @include a();
          :hover{
            background-color: map-get($color, "pink");
          }
        }   
       }
     }
   }
  }

 
// --------------------------訂單管理

  .order_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: left; 
        margin: 10px;    
        a{
          @include a();
          :hover{
            background-color: map-get($color, "pink");
          }
        }   
       }
     }
   }
  }

//-------------------------- 商品管理
.product_inserBtn{
  @include a();
  @include inserBtnH();
  @include inserBtn();
}
  .product_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: left; 
        margin: 10px; 
        img{
          display: block;
          width: 100px;
        }    
        a{
          @include a();
          :hover{
            background-color: map-get($color, "pink");
          }
        }   
       }
     }
   }  
  }
// --------------------------商品編輯
.product_inserBtn{
  @include a();
  @include inserBtnH();
  @include inserBtn();
}
  .product_Edittable{
   table{
     font-size: 20px;
     margin: 0 auto;
     tr{
       td{        
        text-align: left; 
        margin: 10px;
        img{
          display: block;
          width: 100px;
        }    
        textarea{
          overflow:visible;
        }   
       }
     }
   }
   .cancel_check{
    display: flex;
    justify-content: center;
    input{
      @include inserBtn();
      @include inserBtnH();
      margin: 10px;
    }
  }
}

// --------------------------商品新增
.product_inserBtn{
  @include a();
  @include inserBtnH();
  @include inserBtn();
}
  .product_Newtable{
   table{
     font-size: 20px;
     margin: 0 auto;
     tr{
       td{        
        text-align: left; 
        margin: 10px;

        img{
          display: block;
          width: 100px;
        }    
        textarea{
          overflow:visible;
        }   
       }
     }
   }
   .cancel_check{
    display: flex;
    justify-content: center;
    input{
      @include inserBtn();
      @include inserBtnH();
      margin: 10px;
    }
  }
}



// --------------------------訊息管理
  .report_table{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: center;     
        a{
          @include a();
          :hover{
            background-color: map-get($color, "pink");
          }
        }   
       }
     }
   }
  }

// --------------------------訊息回覆

  .report_Edittable{
   table{
     font-size: 20px;
     tr{
       th{
        text-align: center;
       }
       td{
        text-align: left; 
        margin: 10px; 
       }
     }
    }
    .cancel_check{
      display: flex;
      justify-content: center;
      input{
        @include inserBtn();
        @include inserBtnH();
        margin: 10px;
      }
    }
  }












